#form-container {
  margin: 2% 0 0 7%;
  animation: fadeIn 0.6s;
  width: 38%;
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 1vw;
  padding: 1% 2% 2% 2%;
}

#form-container h1 {
  font-size: 2vw;
  margin-bottom: 1%;
}

#form {
  display: flex;
  flex-direction: column;
  font-size: 1.35vw;
}

#form label {
  margin: 1.5% 0;
}

#form select {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1vw;
  background-color: white;
  border: none;
  padding: 1%;
}

textarea {
  resize: none;
  font-size: 1vw;
  font-family: "Noto Sans TC", sans-serif;
  padding-left: 1%;
  border: none;
}

#car-image-url {
  font-size: 1vw;
  border: none;
  padding: 1%;
}

#dropdown-div {
  margin: 2% 0 4% 0;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
}

#dropdown-div label {
  margin: 0.1%;
}
#dropdown-div input {
  margin-right: 1%;
}

#caraction-btn,
#mainpage-btn {
  width: 40%;
  font-size: 1.2vw;
  border: none;
  background-color: rgba(0, 128, 0, 0.733);
  color: white;
  padding: 1%;
  cursor: pointer;
}

#mainpage-btn {
  background-color: rgba(255, 136, 0, 0.74);
  margin-left: 5%;
}

#car-msg {
  font-size: 1.4vw;
  margin-top: 2%;
  color: rgba(52, 173, 52, 0.897);
}

@media (max-width: 1025px) {
  #form-container {
    margin: 5% 0 0 7%;
    width: 70%;
  }

  #form-container h1 {
    font-size: 5vw;
  }

  #form {
    font-size: 3vw;
  }

  #form label {
    margin: 2% 0;
  }

  #form select {
    font-size: 2vw;
    padding: 1.5%;
  }

  textarea {
    font-size: 2vw;
    padding: 2%;
  }

  #car-image-url {
    font-size: 2vw;
    padding: 2%;
  }

  #dropdown-div {
    margin: 3% 0 5% 0;
    font-size: 2vw;
  }

  #dropdown-div label {
    margin: 0.5%;
  }
  #dropdown-div input {
    margin-right: 2%;
  }

  #caraction-btn,
  #mainpage-btn {
    width: 70%;
    font-size: 3vw;
    padding: 2% 0;
  }
  #mainpage-btn {
    margin-left: 0%;
    margin-top: 2%;
  }
  #car-msg {
    font-size: 3vw;
    margin-top: 3%;
  }
}

@media (max-width: 500px) {
  #form-container {
    margin: 5% 0 5% 7%;
    width: 83%;
  }

  #form-container h1 {
    font-size: 9vw;
  }

  #form {
    font-size: 5vw;
  }

  #form select {
    font-size: 4vw;
  }

  textarea {
    font-size: 4vw;
  }

  #car-image-url {
    font-size: 4vw;
    padding: 2%;
  }

  #dropdown-div {
    font-size: 4vw;
  }

  #caraction-btn,
  #mainpage-btn {
    margin-top: 4%;
    width: 80%;
    font-size: 6vw;
    padding: 3% 0;
  }
  #car-msg {
    font-size: 6vw;
    margin: 5% 0;
  }
}
